[build]
  base = "paykit-demo-web"
  command = "cargo install wasm-pack && wasm-pack build --target web --release --out-dir www/pkg"
  publish = "www"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"

[[headers]]
  for = "*.wasm"
  [headers.values]
    Content-Type = "application/wasm"

[[headers]]
  for = "*.js"
  [headers.values]
    Content-Type = "application/javascript"

[context.production.environment]
  RUST_BACKTRACE = "1"

[context.deploy-preview]
  command = "cargo install wasm-pack && wasm-pack build --target web --out-dir www/pkg"

